{% load static %}

<html>
  <head>
    <title>THIS IS ADMIN PAGE</title>
  </head>
  <a href="index"> Use as a User </a>
  <body>
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    <h1>Check admin request and manage account detail</h1>
    <h2></h2>
    <br /><br />
    <a href="logout"> Logout </a>
    <br /><br />
    <div class="content-table">
  <h3>  Become an admin request  </h3>
    <table>
      <thead>
        <th> Username </th>
        <th> Reason </th>
        <th> make admin </th>
      </thead>
      {% for requests in list_of_requests %}
      <tr>
        <td>{{ requests.0 }}</td>
        <td>{{ requests.1 }}</td>
        <td>
          <a
            class="button"
            href="admin_user_edit/{{ requests.0 }}"
            class="text-decoration-none"
          >
            make admin
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </br>
  

  </br>
    <h4>All User</h4>
    <a href="/admin_user"> List of users </a>
    <br /><br />
    <h4>ALL RIDES, click below</h4>
    <a href="/admin_activity"> List of rides </a>
    <br /><br />
    <h4>Reported users</h4>
    <a href="/admin_report"> List of reports </a>
  </div>
  </body>
</html>
