{% load static %}

<html>
  <body>
    <h2>List of rides</h2>

    <br />
    <a href="/admin_index"> Back to Main Page </a>

  <div class="content-table">
    <table border="1">
      <thead>
        <th>Ride ID</th>
        <th>Ride Name</th>
        <th>Driver</th>
        <th>Category</th>
        <th>Start Date Time</th>
        <th>Destination</th>
        <th>Joined</th>
        <th>Capacity</th>
        <th>Edit Ride</th>
        <th>Delete Ride</th>
      </thead>
      {% for activity in activities %}
      <tr>
        <td>{{ activity.0 }}</td>
        <td>{{ activity.3 }}</td>
        <td>{{ activity.1 }}</td>
        <td>{{ activity.2 }}</td>
        <td>{{ activity.4 }}</td>
        <td>{{ activity.5 }}</td>
        <td>{{ activity.6 }}</td>
        <td>{{ activity.7 }}</td>
        <td>
          <a
            class="button"
            href="admin_activity_edit/{{ activity.0 }}"
            class="text-decoration-none"
          >
            Edit
          </a>
        </td>
        <td>
          <a
            class="button"
            href="admin_activity_delete/{{ activity.0 }}"
            class="text-decoration-none"
          >
            Delete
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
    </div>

  </body>
</html>
