{% load static %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');
  body {
    color: black;
    text-align: center;
    background-color: #0EDEBC;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }

  h1 {
    font-family: 'Sora';
    font-size: 70px;
    margin: 50px;
  }

  h2 {
    font-family: 'futura';
    color: black;
  }

  a {
    margin-bottom: 10px;
  }

  option {
    width: 100%;
  }
</style>
<html>
  <head>
    <title>Create Ride!</title>
  </head>
  <body>
    <h2>Add New Ride!!</h2>
    <a href="index">Back to list of rides</a>

    <form action="{% url 'create_activity' %}" method="post">
      {% csrf_token %}
      Start Point Name
      <div class="form-group">
        <input
          class="form-control"
          autofocus
          type="text"
          name="start_point"
          placeholder="Start Point Name"
        />
        </div>
      
      <br/>

      Price
      <div class="form-group">
        <input
          class="form-control"
          type="number"
          name="price"
          min = "0"
          placeholder="price"
        />
      </div>
      
      <br/>
      
      </div>
      Start Date and Time
      <div class="form-group">
        <input
          class="form-control"
          type="datetime-local"
          name="start_date_time"
        />
      </div>

      <br/>
      
      Destination
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name="destination"
          placeholder="destination"
        />
      </div>

      <br/>

      how many people in the ride? (include driver)
      <div class="form-group">
        <input class="form-control" type="number" name="capacity" min="2" max ="7" placeholder="Capacity (at least 2)"/>
      </div>

      <br/>

      <input class="btn btn-primary" type="submit" value="Create Ride" />
    </form>
  </body>
</html>
