
<div class="container">
<h1>Welcome to CARPOOL26</h1>
<h2>Your journey is one click away.
</h2>
{% load static %}
<style> 
    @import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');
    body {
        color: black;
        text-align: center;
        background-color: #0EDEBC;
    }
    h1 {
        font-family: 'Sora';
        font-size: 80px;
        margin: 50px;
    }

    h2 {
        font-family: 'futura';
        color: black;
    }
    .container {
        max-width: 500px;
        margin: 30px auto;
    }
    a:hover {
        color: #FF9A3E;
        text-decoration: underline;
    }
    .dark {
        background-color: #0EDEBC;    }

</style>
    <h3> For testing/assessing purpose if needed. admin account  is : "username:admin,password:it2002"
<br></br>
    <h2>
    <div id="box-1" class="box">
        Start your carsharing session, or join one now!
    </div>
    <div class="curve"> </div>
    <div class="dark"> </div>
    </h2>
    
    <br></br>
    <h3>
    Sign up if you not have an account<a href='register'> Click Here </a> 
    </h3>
    <br>
    <br> 
    <h3>
    Already have an account <a href='login'> Login here. </a>
    </h3>
</div>
<div id="box-2" class="box"> </div>
