{% load static %}
<style>
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');
body {
    color: black;
    text-align: center;
    background-color: #0EDEBC ;
}
.container {
    margin: 30px auto;
    max-width: 400px;
    padding: 0px;

}

h1 {
    font-size: 70px;
    font-family: 'Sora';
}
h3 {
    font-size: 20px;
    font-family: 'futura';

}
.form-wrap {
    background: #fff;
    padding: 15px 25px;
    border-radius: 7px;
}
.form-wrap ::placeholder {
    display: block;
    color: #666;
    padding-left: 10px;
    font-family: 'futura';
}

.form-wrap input {
    width : 100%;
    padding: 10px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 10px;
    border: #ddd 1px solid;
    border-radius: 7px;
    margin-bottom: 7px;
}

.form-wrap input[type="submit"]{
    font-family: 'futura';
    display: block;
    width: 100%;
    background: black;
    color: white;
    padding: 10px;
    padding-left: 2px;
    padding-right: 2px;       
    border-radius: 7px;
    margin-top: 20px;
    cursor: pointer;
}


.form-wrap input[type="submit"]:hover {
    background: #17706c;
}

a:hover {
    color: #17706c;
    text-decoration: underline;
}

</style>

{% block body %}
<body>
    <div class="container">
        <div class="form-wrap">
            <h1>Register</h1>
            <h3> It's free and only takes a minute!</h3>

            {% if message %}
                <div>{{ message }}</div>
            {% endif %}

            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <input autofocus type="text" name="full_name" placeholder="Full Name">
                <input autofocus type="text" name="username" placeholder="Username">
                <input type="email" name="email" placeholder="Email Address">
                <input type="tel" name="phone_number" placeholder="Phone Number">
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="confirmation" placeholder="Confirm Password">
                <input class="btn btn-primary" type="submit" value="Register">
            </form>
            Already have an account? <a href="{% url 'login' %}">Log In here.</a>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#17706c" fill-opacity="1" d="M0,224L20,192C40,160,80,96,120,69.3C160,43,200,53,240,53.3C280,53,320,43,360,37.3C400,32,440,32,480,58.7C520,85,560,139,600,160C640,181,680,171,720,186.7C760,203,800,245,840,272C880,299,920,309,960,309.3C1000,309,1040,299,1080,288C1120,277,1160,267,1200,218.7C1240,171,1280,85,1320,74.7C1360,64,1400,128,1420,160L1440,192L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z"></path></svg>
</body>
{% endblock %}
