<style>
  @import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');
  body {
    color: black;
    text-align: center;
    background-color: #0EDEBC;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }

  h1 {
    font-family: 'Sora';
    font-size: 70px;
    margin: 50px;
  }

  h2 {
    font-family: 'futura';
    color: black;
  }

  a {
    margin-bottom: 10px;
  }

  option {
    width: 100%;
  }
</style>
{% block body %}
<div class="container">
    <div class="form-wrap">
        <h1>Reset Password</h1>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'reset_password' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="Password" placeholder="Password">
            </div>

            <div class="form-group">
                <input class="form-control" type="password" name="Confirmation" placeholder="Confirm Password">
            </div>
            <input class="btn btn-primary" type="submit" value="Reset Password">
        </form>
    </div>
</div>
{% endblock %}
